.side-bar {
    display: none;
    width: 300px;
    flex-shrink: 0;

    padding: var(--space-3);
}

.side-bar-title {
    font-weight: bold;
    margin: 0 0 var(--space-3) var(--space-3);
}

.side-bar li {
    list-style: none;
    padding: var(--space-3);
}

.side-bar a {
    text-decoration: none;
    color: var(--gray-dark);
}

.side-bar .active-section {
    border-left: 3px inset var(--purple-dark);
    font-weight: bold;
}

.btn {
    width: 100%;
    padding: var(--space-3);
    background-color: var(--purple-dark);
    color: white;
    font-size: var(--space-3);
    border: none;
    border-radius: var(--border-radius-1);
    margin-top: var(--space-3);

    display: flex;
    justify-content: space-between;
}

.side-bar .fas {
    color: var(--gray-dark);
    margin-right: var(--space-3);
}

.fas.fa-plus {
    color: white;
    margin-right: var(--space-1);
}

.main-content{
    flex-grow: 1;
}

.top-bar {
    padding: var(--space-3);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-3);
}

.search-wrapper {
    flex-grow: 1;
    max-width: 600px;
}

.search {
    width: 100%;
    padding: var(--space-3) var(--space-3) var(--space-3) 3em;
    border: none;
    border-radius: var(--border-radius-1);
    background-color: var(--gray-light);
}

.search-label {
    position: relative;
}

.fa-search {
    position: absolute;
    left: 12px;
    top: 2px;
    color: var(--purple-dark);
}

.notifications {
    display: flex;
    align-items: center;

    position: relative;
}

.notifications .active-notification {
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    bottom: 30px;
}

.main-avatar {
    width: 50px;
    height: 50px;
    background-image: url(../images/avatars/avatar-10.jpeg);
    background-size: cover;
    border-radius: 50%;
}

.dashboard-wrapper {
    padding: var(--space-3);
    background-color: var(--gray-light);

    box-shadow: 5px 5px 10px var(--gray-dark);
}

.dashboard {
    max-width: 1200px;
    margin: 0 auto; 
}

.title {
   margin-bottom: var(--space-4);
}

.call-to-action {
    padding: var(--space-3);
    margin: var(--space-3) 0;
    background-color: var(--purple-dark);
    border-radius: var(--border-radius-1);
    color: white;

    display: flex;
    justify-content: space-between;
}

.call-to-action a {
    text-decoration: none;
    color: white;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 100%;
}

.card-item {
    margin: var(--space-3) 0;
    padding: var(--space-3);
    border-radius: var(--border-radius-1);
    background-color: white;

    display: flex;
    gap: var(--space-1);
}

.card-content .value {
    margin-top: var(--space-3);
    font-weight: bold;
}

.table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;

    margin-top: var(--space-3);
    font-size: var(--space-2);
}


.table-row {
    border: 2px solid var(--gray-light);
    background-color: white;
}

.table-head .table-row {
    border: none;
    background-color: var(--gray-light);
}

.table-head-1 {
    width: 35%;
}

.table-head-2 {
    width: 25%;
}

.table-head-3,
.table-head-4 {
    width: 20%;
}

.table-head-1,
.table-head-2,
.table-head-3,
.table-head-4 {
    padding: var(--space-3);
    text-align: left;
}

.table td {
    padding: var(--space-3);
}

.avatar {
    display: none;
}

.status {
    padding: var(--space-1);
    background-color: var(--gray-light);
    border-radius: var(--border-radius-1);
    font-weight: bold;
}

.status.success {
    color: var(--green-dark);
    background-color: var(--green-light);
}

.status.fail {
    color: var(--red-dark);
    background-color: var(--red-light);
}

.pagination {
    font-size: var(--space-2);
    padding: var(--space-3);
}

.pagination-title {
    display: flex;
    align-items: center;
    margin-bottom: var(--space-3);
}

.pages-wrapper {
    display: flex;
}

.pages-wrapper .page {
    padding: var(--space-1) var(--space-2);
}

.pages-wrapper .page.active-page {
    background-color: var(--purple-dark);
    border-radius: var(--border-radius-1);
    color: white;
}

/* Icons */
.fa-bell,
.fa-bars {
    color: var(--purple-dark);
}

.fa-bell {
    margin-right: var(--space-3);
}

.fa-star {
    margin-right: var(--space-1);
}

.fa-arrow-right {
    margin-left: var(--space-1);
}

.fa-users,
.fa-money-bill-wave,
.fa-shopping-cart,
.fa-comment-dots {
    padding: var(--space-3);
    border-radius: 50%;
}

.fa-users {
    color: var(--orange-dark);
    background-color: var(--orange-light);
}

.fa-money-bill-wave {
    color: var(--green-dark);
    background-color: var(--green-light);
}

.fa-shopping-cart {
    color: var(--blue-dark);
    background-color: var(--blue-light);
}

.fa-comment-dots {
    color: var(--teal-dark);
    background-color: var(--teal-light);
}

.interactable {
    cursor: pointer;
}

[class^="avatar"] {
    display: none;

    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 50%;
    margin-right: var(--space-3);
}

.avatar-1 {
    background-image: url(../images/avatars/avatar-1.jpeg);
}

.avatar-2 {
    background-image: url(../images/avatars/avatar-2.jpeg);
}

.avatar-3 {
    background-image: url(../images/avatars/avatar-3.jpeg);
}

.avatar-4 {
    background-image: url(../images/avatars/avatar-4.jpeg);
}

.avatar-5 {
    background-image: url(../images/avatars/avatar-5.jpeg);
}

.avatar-6 {
    background-image: url(../images/avatars/avatar-6.jpeg);
}

.avatar-7 {
    background-image: url(../images/avatars/avatar-7.jpeg);
}

.avatar-8 {
    background-image: url(../images/avatars/avatar-8.jpeg);
}

.client {
    display: flex;
    align-items: center;
}

/* Tablet Styles */
@media only screen and (min-width: 950px) {
    .card {
        width: 50%;
    }

    .card-item.medium {
        margin: var(--space-3) var(--space-6) var(--space-3) 0;
    }

    .pagination {
        display: flex;
        justify-content: space-between;
    }

    .pagination-title {
        margin-bottom: 0;
    }

    .page-wrapper {
        display: flex;
        flex-direction: row;
    }

    .side-bar {
        display: block;
    }

    .fa-bars {
        opacity: 0;
    }

    [class^="avatar"] {
        display: block;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 1350px) {
    .top-bar {
        justify-content: space-around;
    }

    .card {
        width: 25%;
    }

    .card-item.big {
        margin: var(--space-3) var(--space-6) var(--space-3) 0;
    }
}