.page-wrapper {
    display: flex;
    flex-direction: column;
}

.side-bar {
    display: none;
}

.main-content{
    flex-grow: 1;
}

.top-bar {
    padding: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.search-wrapper {
    flex-grow: 1;
    max-width: 600px;
}

.search {
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: var(--border-radius-1);
    background-color: var(--gray-light);
}

.notifications {
    display: flex;
    align-items: center;
}

.main-avatar {
    width: 50px;
    height: 50px;
    background-image: url(../images/avatars/avatar-10.jpeg);
    background-size: cover;
    border-radius: 50%;
}

.dashboard-wrapper {
    padding: 1em;
    background-color: var(--gray-light);

    box-shadow: 5px 5px 10px var(--gray-dark);
}

.dashboard {
    max-width: 1200px;
    margin: 0 auto; 
}

.title {
   margin-bottom: 1.5em;
}

.call-to-action {
    padding: 1em;
    margin: 1em 0;
    background-color: var(--purple-dark);
    border-radius: var(--border-radius-1);
    color: white;

    display: flex;
    justify-content: space-between;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 100%;
}

.card-item {
    margin: 1em 0;
    padding: 1em;
    border-radius: var(--border-radius-1);
    background-color: white;

    display: flex;
    gap: 0.5em;
}

.card-content .value {
    margin-top: 1em;
    font-weight: bold;
}

.table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;

    margin-top: 1em;
    font-size: 0.8em;
}

.table-head,
.table-row {
    border: 1px solid var(--gray-light);
    background-color: white;
}

.table-head-1 {
    width: 35%;
}

.table-head-2 {
    width: 25%;
}

.table-head-3,
.table-head-4 {
    width: 20%;
}

.table-head-1,
.table-head-2,
.table-head-3,
.table-head-4 {
    padding: 1em;
    text-align: left;
}

.table td {
    padding: 1em;
}

.avatar {
    display:none;
}

.status {
    padding: 0.5em;
    background-color: var(--gray-light);
    border-radius: var(--border-radius-1);
    font-weight: bold;
}

.status.success {
    color: var(--green-dark);
    background-color: var(--green-light);
}

.status.fail {
    color: var(--red-dark);
    background-color: var(--red-light);
}

.pagination {
    font-size: 0.8em;
    padding: 1em;
}

.pagination-title {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.pages-wrapper {
    display: flex;
}

.pages-wrapper .page {
    padding: 0.5em 0.8em;
}

.pages-wrapper .page.active {
    background-color: var(--purple-dark);
    border-radius: var(--border-radius-1);
    color: white;
}

/* Icons */
.fa-bell,
.fa-bars {
    color: var(--purple-dark);
}

.fa-bell {
    margin-right: 1em;
}

.fa-star {
    margin-right: 0.5em;
}

.fa-arrow-right {
    margin-left: 0.5em;
}

.fa-users,
.fa-money-bill-wave,
.fa-shopping-cart,
.fa-comment-dots {
    padding: 1em;
    border-radius: 50%;
}

.fa-users {
    color: var(--orange-dark);
    background-color: var(--orange-light);
}

.fa-money-bill-wave {
    color: var(--green-dark);
    background-color: var(--green-light);
}

.fa-shopping-cart {
    color: var(--blue-dark);
    background-color: var(--blue-light);
}

.fa-comment-dots {
    color: var(--teal-dark);
    background-color: var(--teal-light);
}

/* Tablet Styles */
@media only screen and (min-width: 950px) {
    .card {
        width: 50%;
    }

    .card-item.medium {
        margin: 1em 2em 1em 0;
    }

    .pagination {
        display: flex;
        justify-content: space-between;
    }

    .pagination-title {
        margin-bottom: 0;
    }

    .page-wrapper {
        flex-direction: row;
    }

    .side-bar {
        display: block;
        width: 300px;
        flex-shrink: 0;

        padding: 1em;
    }

    .side-bar-title {
        font-weight: bold;
        margin: 0 0 1em 1em;
    }

    .side-bar li {
        list-style: none;
        padding: 1em;
    }

    .side-bar a {
        text-decoration: none;
        color: var(--gray-dark);
    }

    .side-bar .active {
        border-left: 3px solid var(--purple-dark);
        font-weight: bold;
    }
    
    .btn {
        width: 100%;
        padding: 1em;
        background-color: var(--purple-dark);
        color: white;
        font-size: 1em;
        border: none;
        border-radius: var(--border-radius-1);
        margin-top: 1em;

        display: flex;
        justify-content: space-between;
    }

    .side-bar .fas {
        color: var(--gray-dark);
        margin-right: 1em;
    }

    .fas.fa-plus {
        color: white;
        margin-right: 0.5em;
    }

    .fa-bars {
        opacity: 0;
    }

    .client {
        display: flex;
        align-items: center;
    }

    [class^="avatar"] {
        display: block;

        width: 50px;
        height: 50px;
        background-size: cover;
        border-radius: 50%;
        margin-right: 1em;
    }

    .avatar-1 {
        background-image: url(../images/avatars/avatar-1.jpeg);
    }

    .avatar-2 {
        background-image: url(../images/avatars/avatar-2.jpeg);
    }

    .avatar-3 {
        background-image: url(../images/avatars/avatar-3.jpeg);
    }

    .avatar-4 {
        background-image: url(../images/avatars/avatar-4.jpeg);
    }

    .avatar-5 {
        background-image: url(../images/avatars/avatar-5.jpeg);
    }

    .avatar-6 {
        background-image: url(../images/avatars/avatar-6.jpeg);
    }

    .avatar-7 {
        background-image: url(../images/avatars/avatar-7.jpeg);
    }

    .avatar-8 {
        background-image: url(../images/avatars/avatar-8.jpeg);
    }
}


/* Desktop Styles */
@media only screen and (min-width: 1350px) {
    .top-bar {
        justify-content: space-around;
    }

    .card {
        width: 25%;
    }

    .card-item.big {
        margin: 1em 2em 1em 0;
    }
}