.page-wrapper {
    display: flex;
    flex-direction: column;
}

.side-bar {
    display: none;
}

.main-content{
    flex-grow: 1;
}

.top-bar {
    padding: 1em;

    display: flex;
    justify-content: space-between;
}

.dashboard-wrapper {
    padding: 1em;
    background-color: var(--gray-light);
}

.dashboard {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
   margin-bottom: 1.5em;
}

.call-to-action {
    padding: 1em;
    margin: 1em 0;
    background-color: var(--purple-dark);
    border-radius: var(--border-radius);
    color: white;

    display: flex;
    justify-content: space-between;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 100%;
}

.card-item {
    margin: 1em 0;
    padding: 1em;
    border-radius: var(--border-radius);
    background-color: white;

    display: flex;
    gap: 0.5em;
}

.card-content .value {
    margin-top: 1em;
    font-weight: bold;
}

.table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;

    margin-top: 1em;
    font-size: 0.8em;
}

.table-head,
.table-row {
    border: 1px solid var(--gray-light);
    background-color: white;
}

.table-head-1 {
    width: 35%;
}

.table-head-2 {
    width: 25%;
}

.table-head-3,
.table-head-4 {
    width: 20%;
}

.table-head-1,
.table-head-2,
.table-head-3,
.table-head-4 {
    padding: 1em;
    text-align: left;
}

.table td {
    padding: 1em;
}

.status {
    padding: 0.5em;
    background-color: var(--gray-light);
    border-radius: var(--border-radius);
    font-weight: bold;
}

.status.success {
    color: var(--green-dark);
    background-color: var(--green-light);
}

.status.fail {
    color: var(--orange-dark);
    background-color: var(--orange-light);
}

.pagination {
    font-size: 0.8em;
    padding: 1em;
}

.pagination-title {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.pages-wrapper {
    display: flex;
}

.pages-wrapper .page {
    padding: 0.5em 0.8em;
}

.pages-wrapper .page.active {
    background-color: var(--purple-dark);
    border-radius: var(--border-radius);
    color: white;
}

/* Tablet Styles */
@media only screen and (min-width: 700px) {
    .card {
        width: 50%;
    }

    .card-item.medium {
        margin: 1em 2em 1em 0;
    }

    .pagination {
        display: flex;
        justify-content: space-between;
    }

    .pagination-title {
        margin-bottom: 0;
    }

    .page-wrapper {
        flex-direction: row;
    }

    .side-bar {
        display: block;
        width: 200px;
        flex-shrink: 0;

        padding: 1em;
    }

    .side-bar-title {
        font-weight: bold;
        margin: 0 0 1em 1em;
    }

    .side-bar li {
        list-style: none;
        padding: 1em;
    }

    .side-bar a {
        text-decoration: none;
        color: var(--gray-dark);
    }

    .side-bar .active {
        border-left: 3px solid var(--purple-dark);
        font-weight: bold;
    }
    
    .btn {
        width: 100%;
        padding: 1em;
        background-color: var(--purple-dark);
        color: white;
        font-size: 1em;
        border: none;
        border-radius: var(--border-radius);
        margin-top: 1em;

        display: flex;
        justify-content: space-between;
    }
}


/* Desktop Styles */
@media only screen and (min-width: 1200px) {
    .top-bar {
        justify-content: space-around;
    }

    .card {
        width: 25%;
    }

    .card-item.big {
        margin: 1em 2em 1em 0;
    }
}