label,
input,
button,
a {
    display: block;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-img,
.login-wrapper {
    width: 100%;
    max-width: 700px;
}

.background-img {
    height: 150px;
    background-image: url(../images/desktop-large.jpg);
    background-size: cover;
    border-radius: var(--border-radius-1);
}

.login-wrapper {
    padding: var(--space-6);
}

.login-form {
    margin: var(--space-3) 0;
}

.form-row,
.social-btn {
    margin-bottom: var(--space-3);
}

.form-row input[type="email"],
.form-row input[type="password"],
.login-form input[type="submit"],
.social-btn {
    width: 100%;
    border-radius: var(--border-radius-1);
    padding: var(--space-2) var(--space-1);
    border: 2px solid var(--gray-light);

    font-size: var(--space-3);
}

.form-row label {
    margin-bottom: var(--space-0);
}

.login-form input[type="submit"] {
    background-color: var(--purple-dark);
    color: white;
    border: none;
}

.login-form input[type="submit"],
.social-btn {
    font-weight: bold;
}

hr {
    color: var(--gray-light);
    margin: var(--space-6) 0;
}

.social-btn {
    background-color: white;
    color: var(--gray-dark);
}

.link {
    text-decoration: none;
    margin-top: var(--space-3);
    font-weight: bold;
    color: var(--purple-light);
}

.fas {
    margin-right: var(--space-2);
}

@media only screen and (min-width: 700px) {
    body {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .background-img {
        height: 600px;
        max-width: 100%;
    }
}