:root {
    --purple-light: #7e3af2;
    --purple-dark: #6c2bd9;

    --orange-light: #feecdc;
    --orange-dark: #ff5a1f;

    --blue-light: #e1effe;
    --blue-dark: #3f83f8;

    --green-light: #def7ec;
    --green-dark: #0e9f6e;

    --teal-light: #d5f5f6;
    --teal-dark: #0694a2;

    --red-light: #fde8e8;
    --red-dark: #e02424;

    --gray-light: #f4f5f7;
    --gray-dark: #24262d;

    --border-radius-0: 5px;
    --border-radius-1: 8px;

    --space-0: 0.2em;
    --space-1: 0.5em;
    --space-2: 0.8em;
    --space-3: 1em;
    --space-4: 1.6em;
    --space-6: 2em;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, system-ui, Roboto, Helvetica, Arial;
    font-size: 16px;
    color: var(--gray-dark);
}

h1 {
    font-size: var(--space-4);
}